.page-header__bottom {
    border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
}

.page-header__nav {
    max-width: 1210px;
    padding: 12px 20px 0;
    box-sizing: border-box;
    display: flex;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding-left: 0;
    width: 100%;
    margin: 0;
}

.nav-list-item {
    padding-bottom: 16px;
}

.nav-list li.selected {
    font-weight: 600;
    position: relative;
}

li.nav-list-item.selected::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: -12px;
    right: -12px;
    height: 3px;
    background-color: #ff7931;
}

li.nav-list-item.selected:hover {
    cursor: default;
}

@media (max-width: 1023px) {
    .page-header__bottom {
        display: none;
    }
}